<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>

</style>

<div class="login-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required">
        </div>        
    </form>
   <<p class="text-center"><a href="#">Log In</a></p>
   
   <p class="text-center"><a routerLink="/transtractionlist">Log-in</a></p>
   <p class="text-center"><a routerLink="/forgotUserName">Forgot Username</a></p>
    <p class="text-center"><a routerLink="/forgotPassword">Forgot Password</a></p>
 localhost:4200/transtractions-->

<div class="container col-lg-6">
  <br>
    <h1 class="text-center">Login</h1>
    <br>
    <div class="card">
      <div class="card-body">
        <form class="form-group" ngNativeValidate>
       <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          <div class="form-group">
            <label for="email">Email :</label>
            <input type="text" class="form-control" [(ngModel)]="email" id="email" placeholder="Enter Email"
              name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="password"  id="password" placeholder="Enter password"
              name="password" required>
          </div>
          <br>
          <button (click)=checkLogin() class="btn btn-success">Login</button>
          <tr *ngFor="let customer of customers | async">
          <button (click)="CustomerDetails(customer.email)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </tr>
        </form>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
