<div>
<nav class="navbar navbar-expand-sm ">
  <!-- Links -->
  <ul class="navbar-nav">
    <!--<li><h2 style="text-align: center;">{{title}}</h2></li>-->
    <img src="/assets/images/bank.jpeg" width="60px" height="60px">

  <li class="nav-item">
    <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/home" class="clickme info" routerLinkActive="active">Home</a>
</li>
    <li class="nav-item">
      <a *ngIf="!loginService.isUserLoggedIn()" routerLink="login" class="clickme info" routerLinkActive="active">Log-In</a>
  </li>
  <li class="nav-item">
    <a *ngIf="!loginService.isUserLoggedIn()" routerLink="admin" class="clickme info" routerLinkActive="active">Admin</a>
</li>
  <li class="nav-item">
    <a *ngIf="!loginService.isUserLoggedIn()" routerLink="register" class="clickme info" routerLinkActive="active">Register</a>
</li>
<!--
<li class="nav-item">
  <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/customers" class="clickme info" routerLinkActive="active">Customers Info</a>
</li>
-->
<li class="nav-item">
  <a *ngIf="loginService.isUserLoggedIn()" routerLink="transactions" class="clickme info" routerLinkActive="active">Transaction List</a>
</li>
<!--
<li class="nav-item">
  <a *ngIf="loginService.isUserLoggedIn()" routerLink="details/:id" class="clickme info" routerLinkActive="active">Transaction Details</a>
</li>-->

<li class="nav-item">
  <a *ngIf="loginService.isUserLoggedIn()" routerLink="/account" class="clickme info" routerLinkActive="active">Transactions</a>
</li>

<li class="nav-item">
  <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="clickme info" routerLinkActive="active">LogOut</a>
</li>
<!--
<li class="nav-item">
  <a *ngIf="loginService.isUserLoggedIn()" routerLink="/cdetails/:email" class="clickme info" routerLinkActive="active">CustomerDetails</a>
</li>-->
 </ul>
</nav>

<section>
  <router-outlet></router-outlet><!--Displays routed component-->
</section>
<footer class="page-footer font-small mdb-color lighten-3 pt-4 card-body">
  
  <div class="footer-copyright text-center py-3">All Rights Reserved 2022 @Gerenal Bank</div>
</footer></div>