<!--
<div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
  
  
  <div class="card">
    
      <div class="card-body">
      
    
  
  
    <h1>Open Zero Balance General Bank Account</h1>
      <h4>In just few minutes you can get a General Bank Zero Balance Account</h4>
      <ul>
        <h5>Top features of Zero Balance Digital Savings Account:</h5>
        <li> Zero Balance</li>
        <li>Free Virtual Debit Card</li>
        <li>Free Digital Payment </li>
        <li>3.50% interest p.a.</li>
        <li>Credit Card for all basis Fixed Deposit</li>
      </ul>
    
      </div>
    </div>
  </div>
-->
<div class="back">
      <!-- <img src="/assets/images/bank.jpeg" width="200" height="120" >-->
        <h2 style="color: Darkblue;">Open Zero Balance General Bank Account</h2>
        <h4 style="color: Darkblue;">In just few minutes you can get a General Bank Zero Balance Account</h4>
        <ul>
          <h5>Top features of Zero Balance Digital Savings Account:</h5>
          <li> Zero Balance</li>
          <li>Free Virtual Debit Card</li>
          <li>Free Digital Payment </li>
          <li>3.50% interest p.a.</li>
          <li>Credit Card for all basis Fixed Deposit</li>
        </ul>
      </div>
    