<!--<div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Make a transaction</h3>
        </div>
        <div class="panel-body">
          <form class="form-inline">
            <div class="form-group">
              <label for="description">Customer User Id</label>
              <input type="text" class="form-control" id="description" placeholder="" ng-model='transaction.description'>
            </div>
            <br>
            <div class="form-group">
              <label for="description">Recepient ID</label>
              <input type="text" class="form-control" id="description" placeholder="" ng-model='transaction.description'>
            </div>
            <br>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Amount :₹</span>
                <input type="number" step="0.01" min=0 class="form-control" id="amount" placeholder="0.00" ng-model="transaction.amount">
              </div>
            </div>
            <br>
            <select class="form-control" ng-model="transaction.type">
              <option value='debit'>Debit</option>
              <option value='credit'>Credit</option>
            </select>
            <br>
            <button type="submit" class="btn btn-primary" ng-click="saveTransaction()">Save</button>
          </form>
        </div>
      </div>

      <hr />
      <p>
        <strong>Sort Transactions by:</strong>
        <select ng-model="transType" class="form-control">
          <option value=''>All</option>
          <option value='credit'>Credit</option>
          <option value='debit'>Debit</option>
        </select><br>
      </p>
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>Customer Id </th>
            <th>Recepient Id</th>
            <th>Amount</th>
           
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in transactionList | filter: transType">
            <td ng-bind="row.type"></td>
            <td ng-bind="row.description"></td>
            <td ng-bind="row.amount | currency"></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
-->

<div>
  <label for="description">Amount</label>
  <input type="text" class="form-control" id="description" placeholder="" >

  <br>
  
  <button (click)=deposit() class="btn btn-success">Deposit</button>
  
  <button (click)=withdraw() class="btn btn-success">Withdraw</button>

  <br><br>
  
  <button (click)=showbalance() class="btn btn-success">Check Balance</button>
</div>


